<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>表达式改写</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body background="http://www.wyzu.cn/uploadfile/2012/0430/20120430115357396.jpg">
<div style="margin-top:120px">
    <div align="center" style="color:#FF82AB"><h1 class="form-signin-heading" >后缀表达式改写</h1>
    </div>
</div>
<form method="POST" action="/result">
    <input style="margin-top:90px" type="text" id="inputname" class="form-control" placeholder="原字符" name="source" required >
    <br>
    <div align="center">
     <button style="margin-top:20px" class="btn btn-lg btn-primary " type="submit">转换</button>
        </div>
</form>

<div align="center" style="margin-top:20px">
<input type="button" class="btn btn-danger btn-lg" value="历史转换"
onclick="javascrtpt:window.location.href='/history'">
 </div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>