<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>结果</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body background="http://www.wyzu.cn/uploadfile/2012/0430/20120430115357396.jpg">
<div style="margin-top:180px">
    <div align="center" style="color:#FF82AB"><h1 class="form-signin-heading" >目标表达式：{{re}}</h1>
    </div>
</div>

<div align="center" style="margin-top:50px">
<input type="button" class="btn btn-primary btn-lg" value="继续转换"
onclick="javascrtpt:window.location.href='/'">
    </div>

<div align="center" style="margin-top:20px">
<input type="button" class="btn btn-success btn-lg" value="保存结果"
onclick="javascrtpt:window.location.href='/save'">
    </div>

<div align="center" style="margin-top:20px">
<input type="button" class="btn btn-danger btn-lg" value="历史转换"
onclick="javascrtpt:window.location.href='/history'">
 </div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>